.metadata

# 编译产物
*.elf
*.elf.in
*.map
*.rpd
*.sbd
*.srec
bsp_linker_info.h
compile_commands.json
fsp_gen.ld
memory_regions.ld

# IDE 生成
.settings/IORegisterSetting.xml

# Python 工具脚本
01_SPI_Screen/tools/*.py
tools/*.py
